{% extends "base.html" %}

{% block title %}account | change password{% endblock title %}

{% load widget_tweaks %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <div class="row mt-4">
        <div class="col">
            <h1>Change Password</h1>
        </div>
    </div>
    <hr/>
    <div class="form-group">
        <label for="">{{ form.old_password.label }}</label>
        {{ form.old_password | add_class:"form-control" }}
    </div>
    <div class="form-group">
        <label for="">{{ form.new_password1.label }}</label>
        {{ form.new_password1 | add_class:"form-control" }}
    </div>
    <div class="form-group">
        <label for="">{{ form.new_password2.label }}</label>
        {{ form.new_password2 | add_class:"form-control" }}
    </div>
    <div class="row">
        <div class="col">
            <input class="btn btn-primary float-right" type="submit" value="Submit" />
        </div>
    </div>
</form>
{% endblock content %}