{% extends "base.html" %}

{% block title %}accounts | password reset{% endblock title %}

{% load widget_tweaks %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <div class="row mt-4">
        <div class="col">
            <h1>Reset Password</h1>
        </div>
    </div>
    <hr />
    <div class="form-group">
        <label for="id_email">{{ form.email.label }}</label>
        {{ form.email | add_class:"form-control" }}
    </div>
    <div class="row">
        <div class="col">
            <p>We will send you an email with a link to reset your password.</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input class="btn btn-primary float-right" type="submit" value="Submit" />
        </div>
    </div>
</form>
{% endblock content %}