{% extends 'base.html' %}

{% block title %}app | list{% endblock title %}

{% block content %}
    <div class="row mt-4">
        <div class="col">
            <h1>App List</h1>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    {% for object in object_list %}
                    <tr>
                        <td><a href="{% url 'apps:app-detail' object.id %}">{{ object }}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}