{% extends 'base.html' %}

{% block title %}project | form{% endblock title %}

{% load widget_tweaks %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <div class="row mt-4">
            <div class="col">
                <h1>Project Form</h1>
            </div>
        </div>
        <hr/>
        <div class="form-group">
            <label for="id_name">{{ form.name.label }}</label>
            {{ form.name | add_class:"form-control"}}
        </div>
        <div class="form-group">
            <label for="id_description">{{ form.description.label }}</label>
            {{ form.description | add_class:"form-control" }}
        </div>
        <div class="row">
            <div class="col">
                <input class="btn btn-success float-right" type="submit" value="Submit" />
            </div>
        </div>
    </form>
{% endblock content %}